<section >
    <h2>Projects</h2>
    <div style="padding-left: 2em; color:grey; " >
        <p style="font-weight: 500; color:black"><a style="text-decoration: none; color: rgb(61, 60, 60) " href="https://github.com/berkaycubuk/berkaycubuk.com" class="inline-block w-fit text-blue-400">oksadeebila.com</a> : My own website</p>
        <p style="font-weight: 500; color:black"><a style="text-decoration: none; color:  rgb(61, 60, 60)" href="https://github.com/berkaycubuk/turkish-cities" class="inline-block w-fit text-blue-400">Cute Calculator</a> : Pastel Calculator Digital </p>
        <p style="font-weight: 500; color:black"><a style="text-decoration: none; color: rgb(61, 60, 60);" href="https://github.com/berkaycubuk/phobos" >Digital Clock</a> : A digital clock simple yet elegant</p>
        <!-- <p style="font-weight: 500; color:black"><a style="text-decoration: none; color:  rgb(61, 60, 60);" href="https://github.com/berkaycubuk/codemate">Codemate</a></p> -->
       
</section>